.title {
  text-align: center;
  color: aliceblue;
  margin-top: 10vh;
  cursor: pointer;
}
.created_image_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.image_div {
  width: 40vh;
  height: 40vh;
  border-radius: 10px;
  background-color: var(--secondary);
  opacity: 0.15;
  margin: 5vh;
}
.input_section {
  display: flex;
  justify-content: center;
}
input {
  width: 55%;
  height: 7vh;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: var(--inputColor);
  padding-left: 4vh;
  color: aliceblue;
  font-size: 14px;
}
input:focus {
  border: none;
  outline: none;
}
.input_section button{
  color: var(--primary);
  background-color: var(--secondary);
  border: none;
  font-weight: 700;
  width: 10vh;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
